body{
    background-color: rgb(0, 0, 0);
    font-family:'Staatliches', cursive;
    color: rgb(255, 255, 255);
    margin: 0;
    }
    
h1 {

background-color: rgb(0, 0, 0);
color: rgb(255, 255, 255);
font-family:'Staatliches', cursive;
font-size: 65px;;
margin-top: 30px;
text-align:end;
margin: 0;
}

img{
max-width: 100%;
max-height: 100%;
font-family:'Staatliches', cursive;
margin: 20px;
}

.google-font{
    font-family: 'Staatliches', cursive;

}

hr{
    height: 0px;
    border:0px;
border-top: 3px solid white;}

p{
    margin-left: 20px;
    font-size: 16px;
    margin-bottom: -10px;
}

h2{
margin: 20px;
text-align: center;}

h3{
    margin: 20px;
}


